html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

body {
	font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

body#home {
	justify-content: center;
	min-width: 300px;
	min-height: 400px;
}

.container {
	max-width: 800px;
	margin: 2em;
}

a {
	text-decoration: none;
	color: #48c;
}

a:hover {
	color: #269;
	text-decoration: underline;
}

h1 a,
h1 a:hover {
	color: #000;
	cursor: default;
	text-decoration: none;
}

h1 a,
h2 a,
h3 a {
	display: block;
	font-weight: normal;
}

h1,
h2 {
	margin: 0 0 3rem;
	padding: 0;
}

.lede {
	color: #666;
	cursor: default;
}
