html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body#home {
	justify-content: center;
	min-width: 300px;
	min-height: 400px;
}

.container {
	max-width: 800px;
	margin: 2em;
}

a {
	text-decoration: none;
	color: #48c;
}

a:hover {
	color: #269;
	text-decoration: underline;
}

h1 a,
h1 a:hover {
	color: #000;
	cursor: default;
	text-decoration: none;
}

h1 a,
h2 a {
	display: block;
}

h1,
h2,
h3 {
	padding: 0;
	font-weight: normal;
}

h1 {
	margin: 0 0 0.75em;
}

h2 {
	margin: 0 0 0.5em;
}

h3 {
	margin: 0 0 0.5em;
}

.lede {
	color: #666;
	cursor: default;
	margin: 0 0 1.5em;
}

ul {
	margin: 1.5em 0;
}

.list {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

.list-item-link {
	display: block;
	padding: 0.5em;
	margin: 0 -0.5em;
}

.list-item-link:hover {
	text-decoration: none;
}

.list-item-link:hover * {
	text-decoration: underline;
}

body,
.text-reset {
	color: #000;
	font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}

:hover .text-reset {
	text-decoration: none;
}

.breadcrumbs {
	list-style: none;
	padding: 0.5em;
	margin: 0.5em -0.5em 1em;
	display: block;
}

.breadcrumbs::after {
	content: '';
	display: block;
	clear: both;
}

.breadcrumbs > .breadcrumb {
	display: inline-block;
	float: left;
}

.breadcrumbs > .breadcrumb:not(:first-child)::before {
	display: inline-block;
	content: '/';
	margin: 0 0.125em;
}

.breadcrumbs > .breadcrumb a {
	color: #666;
}
