html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body {
	color: #222;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5em;
	box-sizing: border-box;
	text-align: center;
}

a {
	text-decoration: none;
	color: #48c;
}

a:hover,
a:focus {
	color: #269;
}

a:hover {
	border-bottom: 1px solid currentColor;
}

a:focus {
	text-decoration: none;
	outline: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
}

h1 {
	font-size: 4em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 1rem 0;
}

h2 {
	color: hsl(200, 10%, 30%);
	font-size: 3em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 1rem 0;
	cursor: default;
}

h3 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	cursor: default;
	padding: 2rem 0;
}

h4 {
	font-size: 2em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 0;
	cursor: default;
}

h1 a,
h1 a:hover,
h1 a:focus {
	color: #000;
}

h1 a:hover,
h1 a:focus,
nav li a:hover,
nav li a:focus,
.projects-list-item-link:focus,
.projects-list-item-link:hover {
	text-decoration: none;
	border-bottom: 2px solid currentColor;
}

nav {
	font-size: 2em;
	line-height: 1em;
	margin: 3rem 0 10rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav li {
	list-style: none;
}

nav li:not(:last-child)::after {
	content: '\b7';
	margin: 0 1rem;
	color: hsl(200, 10%, 30%);
}

.projects-list-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.projects-list {
	max-width: 66em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
	padding: 0;
}

.projects-list-item {
	position: relative;
	list-style: none;
	background: #fff;
	width: 20em;
	height: 13em;
	margin: 1em;
	padding: 1em;
	box-sizing: border-box;
	text-align: left;
}

.projects-list-item p {
	line-height: 1.5em;
}

.projects-list-item p a {
	position: relative;
}

.projects-list-item-link::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.projects-list-item-link:focus::after,
.projects-list-item-link:hover::after {
	outline: 1px solid rgba(0, 0, 0, 0.4);
}

.star {
	color: orange;
	display: inline-block;
	animation: spin 10s linear infinite;
	pointer-events: none;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(1turn);
	}
}
