html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

body {
	font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

body#home {
	justify-content: center;
	min-width: 300px;
	min-height: 400px;
}

.container {
	max-width: 800px;
	margin: 2em;
}

a {
	text-decoration: none;
	color: #48c;
}

a:hover {
	color: #269;
	text-decoration: underline;
}

p {
	margin: 0.5em 0 1em;
}

h1 a,
h1 a:hover {
	color: #000;
	cursor: default;
	text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	display: block;
}

h1,
h2,
h3 {
	font-weight: normal;
}

h1,
h2,
ul,
ol {
	margin: 0 0 3rem;
	padding: 0;
}

h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
	padding: 0;
}

.lede {
	color: #666;
	cursor: default;
}

.list {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

.list-item {
	position: relative;
	display: block;
	margin: 1.5em 0;
}

.list-item-link {
	display: block;
	padding: 0.5em;
	margin: 0 -0.5em;
}

.list-item-link::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.breadcrumbs {
	list-style: none;
	display: block;
}

.breadcrumbs::after {
	content: '';
	display: block;
	clear: both;
}

.breadcrumbs > .breadcrumb {
	display: inline-block;
	float: left;
}

.breadcrumbs > .breadcrumb:not(:first-child)::before {
	display: inline-block;
	content: '/';
	margin: 0 0.125em;
}

.breadcrumbs > .breadcrumb a {
	color: #666;
}
