<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Portfolio of Jamie Hoeks">
<meta name="mobile-web-app-capable" content="yes">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="{{ site.url }}/css/main.css">

<div class="container">
	<div class="page-header">
		{% if page.url == '/index.html' %}
			<h1>{{ site.title }}</h1>
		{% else %}
			<h1><a href="{{ site.url }}/" title="Back to home">{{ site.title }}</a></h1>
		{% endif %}
	</div>
	<div class="content">
		{{ content }}
	</div>
</div>